:root {
  --bg: #2f3241;
  --txt: #ebecef;
  --primary: #8d0119;
  --secondary: #000419;
  --accent: #28e302;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#root {
  background-color: var(--bg);
  min-height: 100vh;
}
.main {
  max-width: 1280px;
  width: 100%;
  height: calc(100% - 5vh);
  margin: auto;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goBack {
  text-decoration: none;
}
